.nav {
	background-color: transparent;
	/* position: sticky;
	top: 0;
	background: rgb(252, 213, 162);
	background: linear-gradient(90deg, rgba(252, 213, 162, 1) 0%, rgba(255, 211, 208, 1) 100%); */
}

.navegador {
	padding-top: 20px;
	display: flex;
	text-align: center;
	justify-content: start;
	left: 0;
	top: 0;
	right: 0;
	margin-bottom: 30px;
}

.nav h3 {
	padding-top: 17px !important ;
}

.navegador li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	margin-right: 5px;
	font-family: 'Roboto', sans-serif;
}

.navegador li a {
	text-decoration: none;
	color: black;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: all 0.3s ease-in-out;
}

.navegador li a:hover,
a:focus {
	color: #fa6257;
	font-weight: bold;
	background-size: 100% 2px;
}

.buttons {
	padding-top: 10px;
}

.buttons button {
	margin-right: 10px;
}
