.contactos {
	margin-bottom: 20px;
}

.contacto {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #ff8c84;
	border-radius: 5px;
	padding: 20px;
}

.contacto form {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contactos h1 {
	font-size: 4rem;
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	width: 100%;
	font-style: italic;
	font-weight: bolder;
}

.btn-enviar {
	background-color: rgba(252, 213, 162, 1);
}

.btn-enviar:hover {
	background-color: rgba(255, 211, 208, 1);
	border-color: transparent;
}
